{
  "env": {
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["import"],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "mjs": "always"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".mjs"]
      }
    }
  }
}
